@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
}

.weather-container {
    background: linear-gradient(to bottom, rgb(124, 102, 74),rgb(66, 69, 42));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather--box {
    background: rgb(255, 255, 255);
    background-image: url(./edouard-tamba-AkayZu97xRQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 450px;
    width: 26%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 6rem;
    font-size: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.575);
}

.reload--container {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.reload--container button {
    background-color: rgb(66, 69, 42);
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-out;
}

.reload--container button:hover {
    background-color: rgb(39, 41, 26);
} 

.city {
    font-size: 40px;
    color: #fff;
    font-family: sans-serif;
}

.temp {
    font-size: 90px;
    font-weight: 1000;
    color: #fff;
}

.dash-container {
    display: flex;
    justify-content: center;
    height: 20px;
}

.dash {
    width: 200px;
    border-bottom: 4px dashed #fff;
}

.sun {
    margin-top: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.sun .sun-span {
    margin: 20px 10px;
}

.des {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 4.5rem;
}
.humidity {
    color: #fff;
    /* margin-bottom:2rem; */
}

.date {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.date div {
    margin: 0px 20px;
}